#main_page_header {
  height: 50px; /* adjust if needed */
  background-color: #fff;
}

.header-menu {
  list-style: none;
  gap: 25px;
}

.header-menu li a {
  text-decoration: none;
  font-weight: 200;
  color: #222;
}

.header-menu li a:hover {
  color: #DFB163; /* brand highlight */
}
